:root {
  --primary: #E74C3D;
  --secondary: #9B59B6;
  --dark: #2C3E50;
  --green: #73A856;
  --aqua: #77B0A9;

  --font: 'Raleway', sans-serif;
}


body {
  background-color: var(--secondary);
}

#quote-box {
  background-color: white;
  width: 450px;
  display: table;
  margin: auto;
  padding: 40px 50px;
  border-radius: 3px;
  margin-top: 18%;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: rgb(155, 89, 182);
}

.quote-text {
  font-size: 1.75em;
  text-align: center;
  padding: 0 35px;
}

.quote-author {
  text-align: right;
  padding-top: 20px;
}

.button {
    float: left;
    padding-top: 10px;
    text-align: center;
    font-size: 1.2em;
    margin-right: 5px;
    margin-top: 30px;
    height: 30px;
    width: 100px;
    background-color: rgb(155, 89, 182);
    border-radius: 3px;
    border: none;
    font-size: 0.85em;
    color: white;
}

#new-quote {
  float: right;
  width: 100px;
  height: 35px;
  font-size: 0.85em;
  color: white;
  padding-bottom: 10px;
  margin-right: 0;
}