.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 40vh auto;
  border: 5px solid black;
  width: 305px;
  height: 350px;
}

button {
  margin: 3px 3px;
  color: white;
  height: 50px;
  width: 70px;
  background-color: grey;
}

#clear {
  background-color: red;
  width: 145px;
}

#zero {
  width: 145px;
}

#second-bottom-row {
  justify-content: start;
}

#display {
  width: 305px;
  height: 50px;
  border: 5px solid black;
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

